@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 400;
  src: url(".../fonts/rubik/rubik-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 700;
  src: url(".../fonts/rubik/rubik-700.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 800;
  src: url(".../fonts/rubik/rubik-800.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: raleway;
  font-style: normal;
  font-weight: 800;
  src: url(".../fonts/raleway/raleway-800.woff2") format(woff2);
  font-display: swap;
}

body {
  font-family: raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/* header.page-header form input[placeholder] {
  font-family: rubik, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
} */

.navigation-list {
  font-family: rubik, sans-serif;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
}

.navigation-services {
  text-align: left;
  vertical-align: top;
  text-transform: uppercase;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}

.description-image-head {
  font-size: 50px;
  line-height: 50px;
}

p {
  font-family: rubik, sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  text-decoration: none;
}

.feature-value {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.feature-name {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.product-link {
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

h2 {
  font-size: 50px;
  line-height: 50px;
}

.delivery-of-goods {
  font-size: 20px;
  line-height: 23px;
}

.about-us-company-name-item p {
  font-family: rubik, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

.contacts-subtitle {
  font-family: rubik, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  vertical-align: top;
  color: #444444;
}

.page-footer {
  background-color: #f0f0f0;
}

.footer-contacts {
  background-color: #444444;
  color: #ffffff;
}

address-text {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.navigation-link-footer {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-phone-footer {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration-line: underline;
}
.contacts-phone {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  text-decoration-line: underline;
}
.footer-social {
  background-color: #444444;
  color: #ffffff;
}

.breadcrumbs {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
}

.filter-products-title {
  font-size: 16px;
  list-style: 19px;
  text-transform: uppercase;
}

.product-img-title {
  font-family: rubik, sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}
